<a href="https://colab.research.google.com/github/helensilvameme/WomenCanCode/blob/main/13_Atividade1_Unit2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

# Criando o DataFrame
dados = {
    "Data": ["15/01/2025"] * 5,
    "Cidade": ["São Paulo", "Rio de Janeiro", "Curitiba", "Porto Alegre", "Salvador"],
    "Temperatura Máxima (°C)": [30.5, 35.0, 24.0, 28.0, 31.0],
    "Temperatura Mínima (°C)": [22.0, 25.0, 18.0, 20.0, 24.5],
    "Precipitação (mm)": [12.0, None, 8.0, 15.0, None],
    "Umidade Relativa (%)": [78, 70, None, 82, 80]
}

df = pd.DataFrame(dados)

# Exibindo dados
print("Dados Originais")
print(df)

Dados Originais
         Data          Cidade  Temperatura Máxima (°C)  \
0  15/01/2025       São Paulo                     30.5
1  15/01/2025  Rio de Janeiro                     35.0
2  15/01/2025        Curitiba                     24.0
3  15/01/2025    Porto Alegre                     28.0
4  15/01/2025        Salvador                     31.0

   Temperatura Mínima (°C)  Precipitação (mm)  Umidade Relativa (%)
0                     22.0               12.0                  78.0
1                     25.0                NaN                  70.0
2                     18.0                8.0                   NaN
3                     20.0               15.0                  82.0
4                     24.5                NaN                  80.0

In [7]:
# Identificando valores ausente
print("\nVerificando valores ausentes:")
print(df.isnull())
print("\nQuantidade de valores ausentes por coluna:")
print(df.isnull().sum())

Verificando valores ausentes:
    Data  Cidade  Temperatura Máxima (°C)  Temperatura Mínima (°C)  \
0  False   False                    False                    False
1  False   False                    False                    False
2  False   False                    False                    False
3  False   False                    False                    False
4  False   False                    False                    False

   Amplitude Térmica  Precipitação (mm)  Umidade Relativa (%)
0              False              False                 False
1              False              False                 False
2              False              False                 False
3              False              False                 False
4              False              False                 False

Quantidade de valores ausentes por coluna:
Data                       0
Cidade                     0
Temperatura Máxima (°C)    0
Temperatura Mínima (°C)    0
Amplitude Térmica          0
Precipitação (mm)          0
Umidade Relativa (%)       0
dtype: int64

In [10]:
# Removendo linhas com valores ausentes
df_cleaned = df.dropna()
print("\nDados após remover linhas com valores ausentes:")
print(df_cleaned)

Dados após remover linhas com valores ausentes:
         Data          Cidade  Temperatura Máxima (°C)  \
0  15/01/2025       São Paulo                     30.5
1  15/01/2025  Rio de Janeiro                     35.0
2  15/01/2025        Curitiba                     24.0
3  15/01/2025    Porto Alegre                     28.0
4  15/01/2025        Salvador                     31.0

   Temperatura Mínima (°C)  Amplitude Térmica  Precipitação (mm)  \
0                     22.0                8.5          12.000000
1                     25.0               10.0          11.666667
2                     18.0                6.0           8.000000
3                     20.0                8.0          15.000000
4                     24.5                6.5          11.666667

   Umidade Relativa (%)
0                  78.0
1                  70.0
2                  79.0
3                  82.0
4                  80.0

In [15]:
# Criar a coluna Amplitude Térmica
df["Amplitude Térmica"] = df["Temperatura Máxima (°C)"] - df["Temperatura Mínima (°C)"]

# Filtrar cidades com Temperatura Máxima acima de 30°C
df_acima_30 = df[df["Temperatura Máxima (°C)"] > 30]

print(df_acima_30)

         Data          Cidade  Temperatura Máxima (°C)  \
0  15/01/2025       São Paulo                     30.5
1  15/01/2025  Rio de Janeiro                     35.0
4  15/01/2025        Salvador                     31.0

   Temperatura Mínima (°C)  Amplitude Térmica  Precipitação (mm)  \
0                     22.0                8.5          12.000000
1                     25.0               10.0          11.666667
4                     24.5                6.5          11.666667

   Umidade Relativa (%)
0                  78.0
1                  70.0
4                  80.0

In [16]:
# Reordenar colunas
df = df[["Data", "Cidade", "Temperatura Máxima (°C)", "Temperatura Mínima (°C)",
         "Amplitude Térmica", "Precipitação (mm)", "Umidade Relativa (%)"]]

print(df)

         Data          Cidade  Temperatura Máxima (°C)  \
0  15/01/2025       São Paulo                     30.5
1  15/01/2025  Rio de Janeiro                     35.0
2  15/01/2025        Curitiba                     24.0
3  15/01/2025    Porto Alegre                     28.0
4  15/01/2025        Salvador                     31.0

   Temperatura Mínima (°C)  Amplitude Térmica  Precipitação (mm)  \
0                     22.0                8.5          12.000000
1                     25.0               10.0          11.666667
2                     18.0                6.0           8.000000
3                     20.0                8.0          15.000000
4                     24.5                6.5          11.666667

   Umidade Relativa (%)
0                  78.0
1                  70.0
2                  79.0
3                  82.0
4                  80.0